@tailwind base;
@tailwind components;
@tailwind utilities;
@import "katex/dist/katex.min.css";
@import "prismjs/themes/prism-tomorrow.min.css";

.content {
    img:not(td *) {
        max-height: 50vh;
        margin: theme("margin.6") 0;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: theme("borderRadius.md");
        @media screen and (min-width: 769px) {
            max-width: 50%;
        }
    }
    h3 {
        margin-top: theme("margin.8");
        margin-bottom: theme("margin.2");
    }
    h4 {
        margin-top: theme("margin.8");
        margin-bottom: theme("margin.2");
    }
    code:not(pre > *) {
        color: theme("colors.white");
        background-color: theme("colors.dark-blue");
        padding: theme("padding.1");
        border-radius: theme("borderRadius.md");
        word-break: break-word;
    }
    
    li {
        word-wrap: break-word;
    }
    table,pre{margin-top: 0; margin-bottom: 0;}
    code{
        &:before, &:after{content: ''!important;}
    }
    td,
    th {
        padding: theme("padding.2");
    }
    th {
        min-width: 6rem;
        color: theme("colors.white");
    }
    .katex-display {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .collapsible {
        transition: all ease-in-out 0.3s;
        &.collapsed {
            height: 200px;
        }
    }
}
