* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$family-sans-serif: "Open Sans";
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
.page-enter-active,
.page-leave-active {
  transition: all 0.25s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
body {
  overflow:hidden;
  transition: all 0.15s ease-in-out;
}
body.has-spaced-navbar-fixed-top {
  padding-top: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web";
}
.icon-90 {
  height: 90px;
}

figure:not(.column) {
  margin: 1rem;
  > figcaption {
    font-size: 0.7rem;
  }
}
.small {
  font-size: 0.85rem;
}
.section {
  z-index: 2;
}
.hl-border {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: 30rem;
  margin: auto;
  padding: 1rem;
  border-bottom: 1px solid rgba($primary, 0.2);
  &:hover {
    font-size: 2.5rem;
  }
}
@media (max-width: 769px) {
  .title.is-1 {
    font-size: 3rem !important;
  }
  .icon-90 {
    height: 50px;
  }
  .hl-border {
    width: 15rem !important;
  }
}
