@tailwind base;
@tailwind components;
@tailwind utilities;
@import "katex/dist/katex.min.css";
@import "prismjs/themes/prism-tomorrow.min.css";

.content {
    img:not(td *) {
        max-height: 50vh;
        margin: theme("margin.6") 0;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: theme("borderRadius.md");
        @media screen and (min-width: 769px) {
            max-width: 50%;
        }
    }
    h3 {
        margin-top: theme("margin.8");
        margin-bottom: theme("margin.2");
        font-weight: bold;
        font-size: theme("fontSize.2xl");
        color: theme("colors.dark");
    }
    h4 {
        margin-top: theme("margin.8");
        margin-bottom: theme("margin.2");
        font-weight: bold;
        font-size: theme("fontSize.xl");
        color: theme("colors.dark");
    }
    p {
        margin-bottom: theme("margin.4");
        font-size: theme("fontSize.lg");
    }
    a {
        text-decoration: underline;
        &:hover {
            color: theme("colors.dark-blue");
        }
    }
    code:not(pre > *) {
        color: theme("colors.white");
        background-color: theme("colors.dark-blue");
        padding: theme("padding.1");
        border-radius: theme("borderRadius.md");
    }
    ul,
    ol {
        margin-left: theme("margin.8");
        margin-top: theme("margin.2");
    }
    ul {
        list-style: initial;
    }
    ol {
        list-style: decimal;
    }
    li {
        margin-top: theme("margin.2");
    }
    td,
    th {
        padding: theme("padding.2");
    }
    th {
        min-width: 6rem;
    }
    .katex-display {
        overflow-x: auto;
        overflow-y: hidden;
        
    }
    .collapsible {
        transition: all ease-in-out 0.3s;
        &.collapsed {
            height: 200px;
        }
    }
}
